
/* ======== page-header */
.page-header {
    background-color: #1D1B27;
    height: 80px;
}
.page-header-wrap {
    width: 1180px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}

.page-header .logo {
    display: inline-block;
    width: 200px;
    height: 47px;
    overflow: hidden;
    text-indent: -999px;
    background: url("../img/logo.png") 0 0 no-repeat;
}

.header-left {
    padding-top: 17px;
    margin-right: 55px;
    float: left;
}

.header-center {
    float: left;
}

.header-center ul {
    padding: 25px 0;
}

.header-center ul li {
    float: left;
    margin: 0 15px;
}

.header-center ul li > a{
    display: block;
    padding: 0 20px;
    font-size: 16px;
    color: #fff;
    line-height: 30px;
    text-decoration: none;
}

.header-center ul li:hover > a,
.header-center ul li.active > a{
    color: #E22317;
}

.header-right {
    float: right;
}
.header-right .buy-btn {
    /* width: 112px; */
    height: 35px;
    border: 1px solid #FFFFFF;
    border-radius: 17.5px;
    display: inline-block;
    line-height: 35px;
    padding: 0 24px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    margin-top: 21px;
}
.header-right .buy-btn:hover {
    color: #1D1B27;
    background-color: #fff;
}

/* ======== page-body */
.page-body {
    clear: both;
}
.page-body::before,
.page-body::after {
    display: block;
    content: '';
    clear: both;
}
/* ======== page-footer */
.page-footer {
    clear: both;
    background-color: #1E1E20;
    color: rgba(255, 255, 255, .6);
}

.page-footer-wrap {
    width: 1180px;
    min-height: 213px;
    margin-left: auto;
    margin-right: auto;
}

.contact {
    height: 122px;
    padding-top: 32px;
}

.contact-left {
    float: left;
}

.contact-left h2 {
    height: 30px;
    background: url("../img/logo_footer.png") no-repeat 0 0;
    text-indent: -999px;
    overflow: hidden;
    margin-bottom: 16px;
}

.contact-left li {
    line-height: 22px;
    font-size: 14px;
}

.contact-left li > div {
    padding-left: 24px;
}

.contact-left .tel {
    background: url("../img/contact_tel.png") no-repeat 0 50%;
}
.contact-left .email {
    background: url("../img/contact_email.png") no-repeat 0 50%;
}
.contact-left .gps {
    background: url("../img/contact_gps.png") no-repeat 0 50%;
}

.contact-right {
    float: right;
}

.contact-right-txt {
    float: left;
    width: 200px;
    height: 110px;
    text-align: right;
    margin-right: 20px;
}

.contact-right-txt > p {
    font-size: 30px;
    line-height: 1;
}

.contact-right-txt > p:nth-child(1) {
    margin-bottom: 10px;
}
.contact-right-txt > p:nth-child(2) {
    margin-bottom: 24px;
}

.contact-right-txt > p.sub {
    font-size: 16px;
    font-family: arial;
    line-height: 1;

}

.contact-right-txt > p.sub > i {
    font-style: normal;
    /* font-size: 12px; */
    /* line-height: 30px; */
    margin-left: 8px;
    margin-right: 8px;
}

.contact-right-qrcode {
    float: right;
    display: block;
    width: 110px;
    height: 110px;
    overflow: hidden;
}
.contact-right-qrcode > img {
    display: block;
    width: 100%;
    height: 100%;
}
.copyright {
    font-size: 14px;
    border-top: 1px solid rgb(59, 59, 61);
    line-height: 18px;
    padding: 20px 0;
}


/* ======== index 首页 */

/* common */
.container-wrap {
    width: 1180px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.index-title {
    font-family: "microsft yahei";
    font-size: 36px;
    color: #FFFFFF;
    line-height: 46px;
    margin-bottom: 5px;
}
.index-title + .sub-title {
    font-family: "MicrosoftYaHei";
    font-size: 14px;
    line-height: 20px;
    color: #2A2E45;
    margin-bottom: 30px;
}

/* 首屏banner广告 */
.banner-1 {
    width: 100%;
    height: 420px;
    background: url("../img/index/banner_bg.jpg") 50% 0;
}

.banner-txt{
    padding: 136px 0 0 69px;
    width: 450px;
}

#ul_container {
    width: 1180px;
    height: 420px;
    overflow: hidden;
    position: relative;
}
#ul_container .ul_li {
    position: absolute;
    top: 136px;
    left: 69px;
    z-index: 2;
    width: 450px;
    height: 160px;

}

.banner-txt h3 {
    font-family: "microsft yahei";
    font-size: 40px;
    color: #FFFFFF;
    line-height: 56px;
    margin-bottom: 15px;
}

.banner-txt h3+p{
    color: #fff;
    font-size: 12px;
    line-height: 2;
}


/* 首屏数字 */
.primary-num {
    height: 140px;
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.primary-num > li {
    flex: 1;
    margin-top: 40px;
    margin-bottom: 40px;
    /* outline: 1px solid red; */
    text-align: center;
    font-size: 16px;
    color: #333;
    border-right: 1px solid #D8D8D8;
    box-sizing: border-box;
}

.primary-num > li:nth-child(1){
    border-left: 1px solid #D8D8D8;
}

.primary-num > li > .num {
    font-size: 36px;
    line-height: 38px;
    color: #E22317;
    font-weight: bold;
}

.primary-num > li > .num sub {
    color: #333;
    font-size: 16px;
    font-weight: normal;
}


/* 一站式广告决策 */
.primary-decision {
    width: 100%;
    height: 450px;
    background: url("../img/index/bg.jpg") 50% 0;
}

.decision-body {
    text-align: center;
    font-size: 16px;
    color: #999999;
}

.decision-body .index-title{
    padding-top: 80px;
    color: #fff;
}

.decision-body .sub-title {
    color: #fff;
}

.decision-body ul.list {
    width: 1180px;
    height: 30px;
    padding-top: 95px;
    background: url("../img/index/line_item.png") 50% 0 no-repeat;
    display: flex;
    padding-left: 55px;
    padding-right: 55px;
    margin-top: 55px;
    box-sizing: border-box;
}

.decision-body ul.list li {
    flex: 1;
    text-align: center;
    line-height: 25px;
    text-indent: 3px;
    height: 25px;
    /* outline: 1px solid red; */
}



/* 我们的优势 */
.primary-advantage {
    width: 100%;
    height: 520px;
    padding-top: 80px;
}

.advantage-body {
    text-align: center;
}
.advantage-body  .index-title {
    color: #333;
}

/* #advantage-slide {
    width: 1180px;
    height: 340px;
    background: url("../img/index/ys_bg.jpg") 50% 0 no-repeat;
    overflow: hidden;
} */

.swiper-container {
    width: 1180px;
    height: 340px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    background: url("../img/index/ys_bg.jpg") 50% 0 no-repeat;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    z-index: 10;
    bottom: 10px;
    left: 0;
    width: 100%;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 100%;
    background: #fff;
    opacity: .92;
    margin: 0 10px;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #E22317;
}
/* .advantage-slide > ul {
    width: 100%;
    height: 100%;
}
.advantage-slide > ul > li {
    float: left;
    width: 1180px;
    height: 340px;
    overflow: hidden;
} */

.advantage-box {
    width: 1180px;
    height: 340px;
    overflow: hidden;
}

.advantage-box .txt-wrap {
    width: 320px;
    min-height: 219px;
    text-align: left;
    margin: 60px 0 0 125px;
}

.advantage-box .txt-wrap .title-en {
    font-size: 26px;
    color: #fff;
    line-height: 1;
    font-weight: 500;
}

.advantage-box .txt-wrap .title-cn {
    font-size: 22px;
    color: #fff;
    line-height: 1;
    font-weight: 300;
    position: relative;
    line-height: 46px;
    margin-bottom: 40px;
}

.advantage-box .txt-wrap .title-cn::after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 35px;
    height: 2px;
    background-color: red;
}

.advantage-box .txt-wrap .des {
    font-size: 16px;
    color: #aaa;
    line-height: 23px;
}

.advantage-box .slide-pic {
    position: absolute;
    right: 130px;
    top: 70px;
    width: 320px;
    height: 250px;
    display: block;
}

/* 客户案例 */
.primary-customercase {
    width: 100%;
    height: 1138px;
    background: url("../img/index/bg.jpg") 50% 0;
}

.customercase-body {
    text-align: center;
    padding-top: 80px;
}
.customercase-body .sub-title {
    color: #fff;
}
.customercase-item {
    width: 1060px;
    height: 360px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
}

.customercase-item:nth-child(odd) .case-info-outer,
.customercase-item:nth-child(odd) .case-photo-outer{
    float: left;
}
.customercase-item:nth-child(odd) .case-photo{
    margin-right: -110px;
}
.customercase-item:nth-child(even) .case-info-outer,
.customercase-item:nth-child(even) .case-photo-outer{
    float: right;
}
.customercase-item:nth-child(even) .case-photo{
    margin-left: -110px;
}

.customercase-item+a.more {
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    color: #fff;
    padding-right: 30px;
    background: url("../img/index/more_link_.png") 100% 50% no-repeat;
}

.customercase-item+a.more:hover {
    color: #E22317;
    background: url("../img/index/more_link.png") 100% 50% no-repeat;
}

.case-photo-outer {
    width: 370px;
    height: 360px;
    background-color: #fff;
}
.case-photo {
    width: 480px;
    height: 320px;
    margin: 20px 0 20px 0;
    background-color: #f0f0f0;
}

.case-info-outer {
    padding: 26px 60px 0;
    background-color: #fff;
    width: 460px;
}
.case-info {
    width: 460px;
    height: 334px;
    background: url("../img/index/info_top_bg.png") 0 0 no-repeat;
    box-sizing: border-box;
    padding: 24px 0 0 30px;
    text-align: left;

}

.case-info .title {
    font-size: 18px;
    color: #333333;
    margin-bottom: 18px;
}

.case-info .des {
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    line-height: 24px;
}
.case-info .num {
    display: block;
    width: 288px;
    height: 48px;
    margin-top: 40px;
    overflow: hidden;
    margin-bottom: 49px;
}

.case-info .num > li {
    float: left;
    padding-left: 30px;
    box-sizing: border-box;
}

.case-info .num > li:nth-child(1) {
    border-right: 1px solid #ccc;
    width: 144px;
    text-indent: -30px;
}

.case-info .num > li div.sup {
    font-size: 24px;
    color: #E22317;
    line-height: 21px;
    margin-bottom: 6px;
}
.case-info .num > li div.sub {
    font-size: 14px;
    color: #333333;
    line-height: 21px;
}

.case-info .btn {
    text-align: right;
}

.case-info .btn > a {
    display: inline-block;
    width: 120px;
    height: 32px;
    outline: 1px solid red;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #E22317;
    text-decoration: none;
}
.case-info .btn > a:hover {
    opacity: .65;
}

.case-info .btn > a > i {
    display: block;
    width: 32px;
    height: 32px;
    overflow: hidden;
    text-align: center;
    line-height: 32px;
    background-color: #CC180D;
    float: right;
    font-family: 'simsun';

}


/* 立即下单 */
.primary-order {
    width: 100%;
    height: 394px;
    background: url("../img/index/order_bg.jpg") 50% 0;
}

.order-body {
    text-align: center;
}
.order-body > .logo {
    display: inline-block;
    width: 250px;
    height: 110px;
    overflow: hidden;
    margin-bottom: 10px;
    background-color: #eee;
    margin-top: 60px;
}

.order-body > .logo > img {
    display: block;
    width: 100%;
    height: 100%;
}

.order-body > .title {
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 10px;
    color: #333;
    font-weight: 400;
}

.order-body > .title + p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 30px;
    color: #333;
}

.order-body > .btn {
    display: inline-block;
    width: 130px;
    height: 40px;
    background-color: #E22317;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    text-decoration: none;
}

.order-body > .btn:hover {
    opacity: .85;
}

/* ======== case 案例中心 */
.case-nav {
    width: 100%;
    height: 80px;
    background-color: #fff;
}

.case-nav > ul {
    width: 900px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 16px 0 0 0;
}

.case-nav > ul > li {
    display: inline-block;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
    line-height: 24px;
    padding: 20px 15px;
    min-width: 96px;
}
.case-nav > ul > li:hover {
    color: #000;
    cursor: pointer;
    border-bottom: 4px solid #E22317;
}

.case-container {
    padding: 60px 0;
    background-color: rgba(247, 248, 250);
}
.case-body {
    width: 1160px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.case-body > ul > li {
    width: 1160px;
    height: 240px;
    margin-bottom: 20px;
    background-color: #fff;
}

.case-card{
    width: 1160px;
    height: 240px;
    box-sizing: border-box;
    padding: 20px 50px 20px 20px;
}

.case-card:hover {
    box-shadow: 0 3px 3px rgba(0, 0, 0, .05),3px 0 3px rgba(0, 0, 0, .05);
}

.case-card .pic {
    width: 300px;
    height: 200px;
    overflow: hidden;
    float: left;
    margin-right: 50px;
}
.case-card .pic > img {
    display: block;
    width: 100%;
    height: 100%;
    transition: all .5s;
}
.case-card .pic > img:hover {
    transform: scale(1.05);
}

.case-card > h3 {
    font-size: 18px;
    color: #333333;
    margin-bottom: 18px;
    font-weight: 700;
}

.case-card > p {
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 37px;
    height: 72px;
    overflow: hidden;
}

.case-card .ext {
    overflow: hidden;
}
.case-card .num {
    float: left;
    display: block;
    width: 288px;
    height: 48px;
    overflow: hidden;
}

.case-card .num > li {
    float: left;
    padding-left: 30px;
    box-sizing: border-box;
}

.case-card .num > li:nth-child(1) {
    border-right: 1px solid #ccc;
    width: 144px;
    text-indent: -30px;
}

.case-card .num > li div.sup {
    font-size: 24px;
    color: #E22317;
    line-height: 21px;
    margin-bottom: 6px;
}
.case-card .num > li div.sub {
    font-size: 14px;
    color: #333333;
    line-height: 21px;
}

.case-card .btn {
    float: right;
    text-align: right;
    margin-top: 13px;
}

.case-card .btn > a {
    display: inline-block;
    width: 120px;
    height: 32px;
    outline: 1px solid red;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #E22317;
    text-decoration: none;
}
.case-card .btn > a:hover {
    opacity: .65;
}

.case-card .btn > a > i {
    display: block;
    width: 32px;
    height: 32px;
    overflow: hidden;
    text-align: center;
    line-height: 32px;
    background-color: #CC180D;
    float: right;
    font-family: 'simsun';

}

/* 案例中心 详情页 */
.hd-left {
    width: 530px;
}

.img-right {
    position: absolute;
    top: 60px;
    right: 60px;
    width: 450px;
    height: 280px;
    margin-bottom: 60px;
    margin-left: 60px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.img-right > img {
    display: block;
    height: 100%;
    width: 100%;
}

.pic-txt-wrap {
    width: 1160px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    overflow: hidden;
}

.pic-txt-wrap ul {
    clear: both;

}

.pic-txt {
    float: left;
    margin-right: 20px;
    width: 275px;
    height: 310px;
    overflow: hidden;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #fff;
}

.pic-txt:nth-last-child(1) {
    margin-right: 0;
}

.pic-txt:hover {
    /* box-shadow: 0 2px 3px rgba(0, 0, 0, .1), 2px 0 3px rgba(0, 0, 0, .1); */
    border: 1px solid #ccc;

}
.pic-txt .top {
    display: block;
    width: 275px;
    height: 200px;
    margin-bottom: 16px;
}

.pic-txt .top img {
    display: block;
    width: 100%;
    height: 100%;
    transition: all .2s;
}

.pic-txt .top:hover img{
    transform: scale(1.01);
}

.pic-txt .title {
    line-height: 25px;
    margin-bottom: 6px;
    padding: 0 20px;
    text-align: left;
    font-size: 18px;
    color: #333333;
    font-weight: 700;
}
.pic-txt .des {
    height: 48px;
    padding: 0 20px 15px;
    overflow: hidden;
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    line-height: 24px;
}
/* ======== news 荣誉新闻 */
.news-body {
    width: 1070px;
}

.news-bd {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #F7F8FA;
}

.news-timeline {
    overflow: hidden;
    padding-top: 17px;
}

.news-timeline li{
    display: flex;
    background: url("../img/news/timeline_4.png") 0 0 repeat-y;
}
.news-timeline li .news-year {
    font-family: arial;
    text-align: left;
    font-size: 22px;
    background: url("../img/news/timeline_3.png") 0 5px no-repeat;
    color: #E22317;
    width: 80px;
    line-height: 62px;
    /* text-indent: 7px; */
    text-indent: -999em;
    font-weight: 700;
    }
.news-timeline li .news-date {
    line-height: 28px;
    /* flex: 1; */
    width: 86px;
    font-size: 24px;
    color: #333333;
    text-align: right;
    padding-right: 13px;
    box-sizing: border-box;
}
.news-timeline li .news-date .sub {
    display: block;
    font-size: 14px;
    color: #333333;
    text-align: right;
    line-height: 1;
}
.news-timeline li .news-item {
    width: 900px;
    /* max-height: 160px; */
    box-sizing: border-box;
    /* margin-bottom: 20px; */
}

.news-timeline li .news-item > strong {
    font-size: 20px;
    line-height: 23px;
    color: #333333;
    font-weight: 600;
}

.news-timeline  li:nth-child(1) .news-year {
    background: url("../img/news/timeline_2.png") 0 0 no-repeat;
    position: relative;
    z-index: 2;
    top: -17px;
    left: 0;
    text-indent: 7px;
}

.news-timeline.current  li:nth-child(1) .news-year {
    background: url("../img/news/timeline_1.png") 0 0 no-repeat;
    position: relative;
    z-index: 2;
    top: -17px;
    left: 0;
    text-indent: 7px;
    color: #fff;
}

.news-timeline:nth-last-child(1) li:nth-last-child(1) {
    position: relative;
    /* overflow: hidden; */
}

.news-timeline:nth-last-child(1) li:nth-last-child(1)::after {
    display: block;
    content: '';
    position: absolute;
    width: 3px;
    height: 159px;
    background-color: #F7F8FA;
    left: 29px;
    top: 21px;
}

/* 新闻卡片 图文 */
.news-card {
    width: 900px;
    height: 160px;
    background-color: #fff;
    padding: 8px 30px 8px 8px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.news-card:hover {
    box-shadow: 0 0 5px rgba(99, 99, 99, .1);

}

.news-card .left-pic {
    float: left;
    width: 218px;
    height: 144px;
    overflow: hidden;
    margin-right: 30px;
    background-color: #999;
    transition: all .5s;
}

.news-card .left-pic:hover {
    opacity: .85;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .2);
}

.news-card > h3 {
    font-size: 18px;
    color: #333333;
    font-weight: 700;
    margin-bottom: 6px;
}
.news-card > p {
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 20px;
}
.news-card > a {
    font-size: 14px;
    color: #E22317;
    line-height: 21px;
    text-decoration: none;
    font-family: simsun;
}
.news-card > a:hover {
    text-decoration: underline;
}
/* ======== 荣誉新闻详情页 */
.article-outer {
    overflow: hidden;
    background: #F7F8FA url("../img/news/news_article_header_bg.jpg") 50% 0 no-repeat;
}

.article-outer-case {
    background-image: url("../img/case/detail_bg.jpg");
}

.article-outer .back-wrap {
    text-align: center;
    height: 22px;
    margin: 60px auto;

}
.article-outer .back-link {
    display: inline-block;
    line-height: 22px;
    font-size: 14px;
    color: #333333;
    text-decoration: none;
    padding-right: 25px;
    /* background: url("../img/index/more_link.png") 100% 50% no-repeat; */
}

.article-outer .back-link:hover {
    color: #E22317;
}

.article-crumbs {
    width: 1160px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    color: #CCCCCC;
    letter-spacing: 0;
    line-height: 24px;
    box-sizing: border-box;
    padding:8px 0;
}
.article-crumbs a {
    color: #ccc;
    text-decoration: none;
}
.article-crumbs a:hover {
    color: #fff;
}
.article-detail {
    width: 1160px;
    min-height: 500px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    padding: 60px;
    box-sizing: border-box;
    box-shadow: 0 0px 3px 1px rgba(99, 99, 99, .1);
    position: relative;

}
.article-detail h1 {
    font-size: 32px;
    line-height: 45px;
    border-bottom: 1px solid #D8D8D8;
    padding-bottom: 40px;
    margin-bottom: 40px;
}
.article-detail p {
    font-size: 14px;
    color: #333333;
    line-height: 24px;
    margin: 30px 0;
    text-align: justify;
}
.article-detail p > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.article-detail dl.detail-item {
    font-size: 14px;
    color: #333333;
    line-height: 24px;
    margin-bottom: 40px;
}

.article-detail dl.detail-item:nth-child(1),
.article-detail dl.detail-item:nth-child(2) {
    width: 530px;
}
.article-detail dl.detail-item:nth-last-child(1) {
    margin-bottom: 0;
}

.article-detail dl.detail-item dt {
    height: 18px;
    font-size: 18px;
    color: #333333;
    line-height: 18px;
    margin-bottom: 16px;
    font-weight: 700;
    position: relative;
    top: 0;
    left: 0;
    padding-left: 10px;
    /* border-left: 3px solid #E22317; */
}

.article-detail dl.detail-item dt::before {
    display: block;
    content: '';
    width: 3px;
    height: 16px;
    background-color: #E22317;
    position: absolute;
    left: 0;
    top: 0;
}

.article-detail dl.detail-item dd {
    clear: both;
    overflow: hidden;
}

.article-detail dl.detail-item dd .num {
    float: left;
    width: 150px;
    padding-top: 10px;
}

.article-detail dl.detail-item dd .num sup {
    display: block;
    text-align: left;
    font-family: Arial;
    font-size: 24px;
    color: #E22317;
    line-height: 24px;
    margin-bottom: 12px;

}
.article-detail dl.detail-item dd .num sub {
    display: block;
    text-align: left;
    font-size: 14px;
    color: #999999;
    line-height: 24px;
}

.article-detail dl.detail-item dd ul {
    padding-left: 20px;
}

.article-detail dl.detail-item dd ul li {
    list-style-type: disc;
    color: #333;
    line-height: 30px;
}

.article-detail dl.detail-item dd strong {
    font-weight: 700;
    font-size: 18px;
    color: #333333;
    line-height: 24px;
}

.article-detail dl.detail-item dd p {
    margin: 0 0 20px 0;
}




/* ======== contact us 联系我们 */
.case-header,
.news-header,
.article-header {
    width: 100%;
    height: 240px;
    background: #000 url("../img/contactus/bg.jpg") 50% 0;
}

.news-header {
    background: url("../img/news/news_header_bg.jpg") 50% 0;
}
.case-header{
    background: url("../img/case/bg.jpg") 50% 0;
}

.case-header .title ,
.news-header .title ,
.article-header .title {
    font-size: 40px;
    color: #FFFFFF;
    padding-top: 80px;
    text-indent: 72px;
}
.case-header .sub ,
.news-header .sub ,
.article-header .sub {
    font-size: 14px;
    color: #FFFFFF;
    line-height: 24px;
    text-indent: 72px;
}

.contact-bd {
    width: 100%;
    height: auto;
    position: relative;
}

.contact-map {
    width: 100%;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ccc;
}

.contact-tips {
    width: 412px;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 70px;
    left: 50%;
    margin-left: -590px;
}

.contact-tips > .header {
    height: 50px;
    background-color: #D4241F;
    line-height: 20px;
    font-size: 18px;
    color: #FFFFFF;
    box-sizing: border-box;
    padding: 15px 24px;
}

.contact-tips > .main {
    height: 180px;
    box-sizing: border-box;
    padding: 20px 30px;
    background-color: #fff;
}

.contact-tips > .main > dl {
    clear: both;
    display: flex;
    margin-bottom: 10px;
    font-size: 14px;
    color: #333333;
    line-height: 24px;
}

.contact-tips > .main > dl > dt {
    width: 52px;
    text-align: left;
    font-weight: 700;
}
.contact-tips > .main > dl > dd {
    flex: 1;
}


/* ======== 优势 */


/* 首屏 */
#home {

}
/* banner */
section.banner-w3layouts {
    background-image: linear-gradient(to left bottom,#0652dd,#0d58e2,#145de7,#1963eb,#1e68f0);
    position: relative;
    padding: 1em 0 4em
}

.banner-w3layouts-info {
    margin-top: 4em;
    padding-right: 3em
}

.banner-w3layouts-info p {
    color: #b1d1f3;
    text-align: justify
}

.banner-w3layouts-info h2,
.banner-w3layouts-info h3 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff
}

.banner-w3layouts-info a {
    background: #fff;
    padding: 11px 31px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #0c57e1;
    border-radius: 59px;
    display: inline-block;
    box-shadow: 0 12px 60px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 12px 60px rgba(0,0,0,.2);
    -o-box-shadow: 0 12px 60px rgba(0,0,0,.2);
    -moz-box-shadow: 0 12px 60px rgba(0,0,0,.2);
    -ms-box-shadow: 0 12px 60px rgba(0,0,0,.2)
}

.banner-w3layouts-info a:hover {
    background: #0c57e1;
    color: #fff
}







.effect-w3 {
    position: relative;
    width: 360px;
    height: 453px;
    margin-top: 8em;
    background: hsla(0,0%,98%,.26);
    transform: rotate(-30deg) skew(25deg) scale(.8);
    transition: .5s;
    margin-left: 6em;
}

.effect-w3 img {
    position: absolute;
    transition: .5s
}

.effect-w3 img:nth-child(4) {
    transform: translate(160px,-160px);
    opacity: 1
}

.effect-w3 img:nth-child(3) {
    transform: translate(120px,-120px);
    opacity: .8
}

.effect-w3 img:nth-child(2) {
    transform: translate(80px,-80px);
    opacity: .6
}

.effect-w3 img:nth-child(1) {
    transform: translate(40px,-40px);
    opacity: .4
}

/* about */
h3.tittle {
    font-size: 2.3em;
    letter-spacing: 1px;
    color: #292a2b;
    font-weight: 700
}

.sub-tittle {
    font-size: .4em;
    color: #fc427b;
    font-weight: 700;
    letter-spacing: 2px;
    display: block
}

.feature-grids h3 {
    font-size: 1.1em;
    color: #000;
    letter-spacing: 1px;
    margin-top: 0;
    text-transform: uppercase
}

.feature-grids p {
    margin: 0;
    color: #666;
    line-height: 28px;
    letter-spacing: .5px
}

.feature-grids span {
    font-size: 2em;
    margin-right: .2em;
    vertical-align: middle
}

.bottom-gd,.bottom-gd2-active {
    background: #f8f9fa;
    transition: 2s all;
    -webkit-transition: 2s all;
    -moz-transition: 2s all;
    -ms-transition: 2s all;
    -o-transition: 2s all;
    box-shadow: 7px 7px 10px 0 rgba(76,110,245,.1)
}

.bottom-gd:hover,.bottom-gd2-active {
    background: #1963eb!important;
    transition: 2s all;
    -webkit-transition: 2s all;
    -moz-transition: 2s all;
    -ms-transition: 2s all;
    -o-transition: 2s all
}

.bottom-gd:hover.f1 i,.bottom-gd2-active span {
    color: #fff
}

.bottom-gd:hover.bottom-gd p,.bottom-gd2-active p {
    color: #fff
}

.bottom-gd:hover h3,.bottom-gd2-active h3 {
    color: #fff
}

.serv_bottom {
    position: relative
}

.featured-left {
    position: absolute;
    z-index: 9;
    right: -4%;
    top: 6%
}

.fea span {
    color: #1963eb;
    font-size: 3em
}

.fea:hover span,.fea.active span {
    color: #fff
}

.fea {
    background: #f3f5f9
}

.fea h3 {
    font-size: 1.2em
}

.fea.active {
    background: #1963eb
}

.fea.active p,.fea.active h3 {
    color: #fff
}

.fetured-sec img {
    box-shadow: 14px 14px 50px -20px rgba(0,0,0,.1)
}

.stats {
    background: #f7f7f7;
    padding: 4em 0
}

.counter {
    background: 0 0;
    padding: 20px 0;
    border-radius: 0;
    color: #fff
}

.count-title {
    font-size: 3em;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    font-weight: 600;
    color: #1963eb
}

.count-text {
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    color: #333435;
    font-weight: 600
}


/* ================= toTop */

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 2%;
    overflow: hidden;
    z-index: 999;
    width: 36px;
    height: 36px;
    border: none;
    text-indent: 100%;
    background: #0d0d0d url(../img/move_up.png) no-repeat 10px 9px;
}

#toTopHover {
    width: 40px;
    height: 40px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}
